<apex:page showHeader="true" sidebar="true" controller="ExcelToCSV_CTRL">
	<apex:form enctype="multipart/form-data">
		<apex:inputFile value="{!xlsFile}" id="file" />
		<apex:commandButton action="{!getCalloutResponseContents}" value="{!'Enviar'}"/>
	</apex:form>
</apex:page>