<apex:page showHeader="true" sidebar="true" controller="ExcelToCSVJs_CTRL">
	

  	<apex:form enctype="multipart/form-data">

    	<input type="file" name="file" id="file" />
    	<!--apex:inputHidden value="{!url}" id="myHiddenField"/-->
    	<apex:inputHidden value="{!csvFileStr}" id="myHiddenCSVFile"/>   
    	<input type="button" onclick="loadXMLDoc()" value="Convertir!"/>
    	<br/><apex:commandButton action="{!comprobar}" value="Comprobar en SF"/>

    	<script>
  	function loadXMLDoc(){
        //son necesarias 3 llamadas a CloudConvert (Creación del proceso, comienzo y descarga)
	    var xmlhttp, xmlhttp2, xmlhttp3;
	    var response1, response2, response3;

	    if (window.XMLHttpRequest){// código para IE7+, Firefox, Chrome, Opera, Safari
	        xmlhttp=new XMLHttpRequest();
	        xmlhttp2=new XMLHttpRequest();
	        xmlhttp3=new XMLHttpRequest();
	    }else{// código para IE6, IE5
	      	xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	      	xmlhttp2=new ActiveXObject("Microsoft.XMLHTTP");
	      	xmlhttp3=new ActiveXObject("Microsoft.XMLHTTP");
	    }


	    xmlhttp.onreadystatechange=function(){
            //Cada request es enviada si la anterior respuesta es correcta
	      	if (xmlhttp.readyState==4 && xmlhttp.status==200){
	           //document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
	           response1=JSON.parse(xmlhttp.responseText);
	           console.log(response1.url);

		        xmlhttp2.onreadystatechange=function(){
		          	if (xmlhttp2.readyState==4 && xmlhttp2.status==200){
		                  
                        response2=JSON.parse(xmlhttp2.responseText);

		            	//document.getElementById("{!$Component.myHiddenField}").value=response2.output.url;


			            xmlhttp3.onreadystatechange=function(){
			          		if (xmlhttp3.readyState==4 && xmlhttp3.status==200){
			          			console.log(xmlhttp3.responseText);
			          			document.getElementById("{!$Component.myHiddenCSVFile}").value=xmlhttp3.responseText;
			          			document.getElementById("myDiv").innerHTML=xmlhttp3.responseText;
			          		}
			          	}
                        //tercera request
		          		xmlhttp3.open("GET","https:"+response2.output.url,true);
			        	xmlhttp3.send();


		          	}
		        }

                //Segunda request
                //Para preparar la conversión con la opción input=upload es necesario mandar el FormData en el Post
		        var fileSelect = document.getElementById('file');
		        var files = fileSelect.files;

		        // Crea un nuevo FormData object.
		        var formData = new FormData();
		        // Recorre los ficheros seleccionados
		        for (var i = 0; i < files.length; i++) {
		          	var file = files[i];

		          	// Añade el fichero a la request
		          	formData.append('file', file, file.name);
		        }

		        	xmlhttp2.open("POST","https:"+response1.url+"?input=upload&outputformat=csv",true);
		        	xmlhttp2.send(formData);
		      	}
	    }

        //primera request
	    xmlhttp.open("POST","https://api.cloudconvert.com/process?apikey=yxn3yXQQk95Dbn41EBZgmduf5l7Lr7HxmyXggMyzu2mcsMLoqwu0YJZvZpMmrUM4w5WYOr3JU7B-vDr7wPiyOg&inputformat=xls&outputformat=csv&download=false&save=true",true);
	    //xmlhttp.setRequestHeader("Content-type","multipart/form-data");

	    xmlhttp.send();

  	}
	</script>
 	</apex:form>
	<div id="myDiv"></div>


 	
</apex:page>