<apex:page standardController="Account">
  <apex:detail inlineEdit="true" relatedList="false" />
  
      <apex:relatedList list="Contacts">
          <apex:facet name="header">
              <button style="margin:0.1em 50%;" onclick="window.top.location = '/003/e?saveURL=%2Fapex%2FProbando_Detail_2%3Fid%3D{!Account.Id}&retURL=%2Fapex%2FProbando_Detail_2%3Fid%3D{!Account.Id}&accid={!Account.Id}'">Nuevo</button>
          </apex:facet>
      </apex:relatedList>
      
      <apex:relatedList list="Facturas__r">
          <apex:facet name="header">
              <button style="margin:0.1em 50%;" onclick="window.top.location = '/a01/e?saveURL=%2Fapex%2FProbando_Detail_2%3Fid%3D{!Account.Id}&retURL=%2Fapex%2FProbando_Detail_2%3Fid%3D{!Account.Id}&CF00N24000007Wtfu_lkid={!Account.Id}&CF00N24000007Wtfu={!Account.Name}'">Nuevo</button>
          </apex:facet>
      </apex:relatedList>
  
</apex:page>